# Backend
Backend/node_modules/
Backend/.env
Backend/.env.local
Backend/dist/
Backend/build/
Backend/uploads/

# Frontend
Frontend/node_modules/
Frontend/.env
Frontend/dist/
Frontend/build/

# General
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/